<%- include('header') %>
<form method="GET" action="/cotacao">
    <!-- <input type="text" name="cotacao" placeholder="Cotação dolar" value="<%= cotacao %>"> <br />
    <input type="text" name="quantidade" placeholder="Quantidade de dolares"> <br />
    <button>Converter!</button> -->
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" name="cotacao" placeholder="Cotação dolar" value="<%= cotacao %>">
        <input type="text" class="form-control" id="exampleInputEmail1" name="quantidade" placeholder="Quantidade de dolares">
      </div>
      <button class="btn btn-outline-success">Converter</button>
</form>



<%- include('footer') %>